<!DOCTYPE html>
<html>
<head>
    <title>Coffee List</title>
</head>

<body>
    <h1>Coffee List</h1>
    <ul>
    {% for element in coffee_list %}
    <p> {{element.id}}. {{element.name}}, {{element.price}}</p>
    {% endfor%}
    </ul>

    <form method="POST"> {% csrf_token %}
        {{ coffee_form.as_p}}
        <button type = 'submit'>Save</button>
        
    </form>    


    <form method="POST"> {% csrf_token %}
        ID : <input type="text" name="id">
        <button type = 'submit'>Delete</button>
    </form>


</body>


</html>